* {
  box-sizing: border-box;
}

.navbar {
  padding: 1rem;
  font-size: 2rem;
  background-color: blanchedalmond;
}

.navbar-logo {
  margin-right: 0.5em;
  color: green;
}

.navbar-count {
  display: inline-block;
  margin-left: 0.2em;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  color: white;
  background-color: green;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
}

.add-input {
  margin-right: 0.2em;
}

.add-button {
  padding: 0.3em 0.5em;
  height: 100%;
  background-color: green;
  color: white;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.habit {
  padding: 0.5em;
  font-size: 2.5rem;
  list-style: none;
}

.habit-count {
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.5em;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  border-radius: 50%;
  background-color: darkseagreen;
  color: white;
  text-align: center;
}

.habit-button {
  margin: 0 0.1em;
  font-size: 2.5rem;
  background-color: transparent;
  translate: transform 300ms ease-in;
}

.habit-button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.habits-reset {
  padding: 0.2em 1em;
  font-size: 1.5rem;
  color: white;
  background-color: green;
}
